GOOGLE_CLOUD_PROJECT=educationalai-446710
GOOGLE_GENAI_USE_VERTEXAI=False
GOOGLE_APPLICATION_CREDENTIALS: ./service-account-key.json.json

GEMINI_API_KEY=AIzaSyD8FLr6Tz3amiK10nL7ctXjOe5nI-i8Wa4
GOOGLE_API_KEY=AIzaSyD8FLr6Tz3amiK10nL7ctXjOe5nI-i8Wa4
GCS_BUCKET_NAME=video_save
DEBUG=True
STABLE_DIFFUSION_API_URL=https://api-inference.huggingface.co/models/stabilityai/stable-diffusion-xl-base-1.0
HF_API_TOKEN=your-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
TOGETHER_API =1a52ad5dcd41eca6aa6cc5569149c5eb3bfe25c00fcb7d0a9a7e554f01b6eb29
TOGETHER_API_KEY=1a52ad5dcd41eca6aa6cc5569149c5eb3bfe25c00fcb7d0a9a7e554f01b6eb29
